body{
  box-sizing: border-box;
  color: #777;
}

/* FLEX CONTAINER */
.container{
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height:100vh;
  display: flex;
  flex-direction: column;
  gap:80px;
  align-items:center;
  justify-content: space-around;
}


.h1{
  text-align: center;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 24px;

}

.button-container{
  display: flex;
  gap:24  0px;
  justify-content: space-between;
  align-items: center;
}

address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:100px;
}